body {

    background: #38a16f;

    display: flex;

    justify-content: center;

    align-items: center;

    height: 100vh;

    flex-direction: column;

    padding-top: 50px;

}


a::after {
    content: "";
    width: 0%;
    height: 3px;
    background: lightseagreen;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.text-center {
    margin-left: 190px;
}

.glyphicon {
    margin-top: -10px;
}


  h1 {
    text-align: center;

    background-color: #ff6071;

    border: 3px solid #38a16f;

    border-radius: 25px;

    padding: 20px;
  }
  
.account-creation {

    font-size: 20px;

    line-height: 25px;

    background-color: #ff6071;

    border: 3px solid #38a16f;

    border-radius: 25px;

    padding: 20px;
}
  

h2 {

    text-align: center;

    background-color: #ff6071;

    border: 3px solid #38a16f;

    border-radius: 25px;

    padding: 20px;

    margin-left: auto;

    margin-right: auto;


}
  h3 {
    text-align: center;
    font-weight: 800;
    font-size: 30px;
    margin: 10px 0;
  }


* {
    margin: 0;

    padding: 0;

    font-family: "Nunito Sans", sans-serif;

    scroll-behavior: smooth;
  

    box-sizing: padding-box;

}



form {

    width: 1000px;

    border: 3px solid rgb(72, 157, 163);

    padding: 20px;

    background: rgb(66, 88, 102);

    border-radius: 20px;

}

h2 {

    text-align: center;

    margin-bottom: 40px;

}

input {

    display: block;

    border: 2px solid #ccc;

    width: 95%;

    padding: 10px;

    margin: 10px auto;

    border-radius: 5px;

}

label {

    color: #f1f1f1;

    font-size: 18px;

    padding: 10px;

}

button {

    float: right;

    background-color:#ff6071;

    padding: 10px 15px;

    color: #fff;

    border-radius: 5px;

    margin-right: 10px;

    border: none;

}

button:hover{

    opacity: .30;

}

.error {

   background: #F2DEDE;

   color: #0c0101;

   padding: 10px;

   width: 95%;

   border-radius: 5px;

   margin: 20px auto;

}



a {

    float: right;

    background: rgb(0, 0, 0);

    padding: 10px 15px;

    color: #fff;

    border-radius: 10px;

    margin-right: 10px;

    border: none;

    text-decoration: none;

}

a:hover{

    opacity: .7;

}
